body {
  overflow-x: hidden;
  overflow-y: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Nerko One", cursive;
  user-select: none;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: grey;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #ADADAD;
}

.header-wrapper .header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 15px;
  max-width: 1500px;
  margin: 0 auto;
}
.header-wrapper .buttonBurger {
  position: relative;
  cursor: pointer;
  background: none;
  border: none;
  outline: none !important;
  height: 40px;
  width: 50px;
  padding: 0;
  z-index: 200;
}
@media (max-width: 575px) {
  .header-wrapper .buttonBurger {
    width: 35px;
    height: 25px;
  }
}
.header-wrapper .buttonBurger .buttonBurger__top, .header-wrapper .buttonBurger .buttonBurger__middle, .header-wrapper .buttonBurger .buttonBurger__bottom {
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  transition: all 0.4s ease;
  background: black;
}
.header-wrapper .buttonBurger .buttonBurger__top {
  top: 0%;
}
.header-wrapper .buttonBurger .buttonBurger__top--active {
  top: 50%;
  margin-top: -2px;
  transform: rotate(405deg);
  background: blue;
}
.header-wrapper .buttonBurger .buttonBurger__middle {
  top: 50%;
  margin-top: -2px;
}
.header-wrapper .buttonBurger .buttonBurger__middle--active {
  transform: rotate(405deg);
  background: blue;
}
.header-wrapper .buttonBurger .buttonBurger__bottom {
  top: 100%;
  margin-top: -4px;
}
.header-wrapper .buttonBurger .buttonBurger__bottom--active {
  top: 50%;
  margin-top: -2px;
  transform: rotate(675deg);
  background: blue;
}
.header-wrapper .buttonBurger:hover .buttonBurger__top {
  top: 50%;
  margin-top: -2px;
}
.header-wrapper .buttonBurger:hover .buttonBurger__bottom {
  top: 50%;
  margin-top: -2px;
}

nav {
  position: absolute;
  width: 320px;
  top: 91px;
  left: -320px;
  transition-duration: 1s;
  height: 100%;
  z-index: 100;
  overflow-y: scroll;
  background: white;
}
nav ul {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
nav ul:last-child {
  margin-bottom: 150px;
}
nav ul li {
  list-style: none;
  font-size: 30px;
}
nav ul li a {
  color: black;
}

.break-menu {
  position: absolute;
  width: 320px;
  top: 0;
  left: -320px;
  transition-duration: 1s;
  height: 91px;
  z-index: 100;
  background: white;
  border-bottom: 5px solid black;
}

.active-menu {
  left: 0 !important;
  transition-duration: 1s !important;
}

.overflow-body {
  overflow-y: hidden !important;
}

.toggle-mode {
  /*https://codepen.io/GemmaStiles/pen/NWxjrVG*/
  display: flex;
  width: 195px;
  align-items: center;
  justify-content: space-between;
}
.toggle-mode p {
  margin: 0;
}

.switch-btn {
  display: flex;
  justify-content: center;
}

.switch-label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0;
}

.switch-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-slider {
  position: absolute;
  cursor: pointer !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #6E6E6E;
  transition: 0.4s;
}

.switch-slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .switch-slider {
  background-color: #1849AB;
}

input:focus + .switch-slider {
  box-shadow: 0 0 0 4px rgba(21, 156, 228, 0.7);
  outline: none;
}

input:checked + .switch-slider:before {
  transform: translateX(26px);
}

.switch-slider.round {
  border-radius: 34px;
}

.switch-slider.round:before {
  border-radius: 50%;
}

.spy {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  z-index: 50;
  background: rgba(0, 0, 0, 0.3);
}
.spy-active {
  display: block;
}

#content {
  padding: 0 20px;
}
#content .statistic-header {
  display: flex;
  margin: 50px auto;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 999px) {
  #content .statistic-header {
    flex-direction: column;
    row-gap: 20px;
  }
}
#content .statistic-header .buttons-block {
  display: flex;
  column-gap: 10px;
}
@media (max-width: 615px) {
  #content .statistic-header .buttons-block {
    flex-direction: column;
    row-gap: 10px;
  }
}
#content .statistic-header .buttons-block .btn {
  font-size: 20px !important;
}
#content .table-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.5fr;
  max-width: 1200px;
  margin: 50px auto;
  position: relative;
  text-align: center;
  border: 3px solid black;
}
#content .table-container::-webkit-scrollbar {
  height: 5px !important;
}
#content .table-container::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0;
  border-radius: 0;
  background: black;
}
@media (max-width: 800px) {
  #content .table-container {
    max-width: 780px;
    width: 100%;
    grid-template-columns: repeat(6, 130px);
    overflow-x: auto;
  }
}
@media (max-width: 450px) {
  #content .table-container {
    max-width: 600px;
    width: 100%;
    grid-template-columns: repeat(6, 100px);
    overflow-x: auto;
  }
}
#content .table-container h4 {
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  cursor: pointer;
}
#content .table-container h4 .sort-up, #content .table-container h4 .sort-down {
  position: absolute;
  cursor: pointer;
  top: 50%;
}
#content .table-container h4 .sort-up {
  left: 40%;
  transform: scale(0.7) translate(-40%);
}
#content .table-container h4 .sort-down {
  left: 60%;
  transform: scale(0.7) translate(-60%);
}
@media (max-width: 450px) {
  #content .table-container h4 {
    font-size: 20px;
  }
}
@media (max-width: 450px) {
  #content .table-container h5 {
    font-size: 15px;
  }
}
#content .table-container .table-item {
  border: 3px solid black;
  margin: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#content .table-container .table-item_0 {
  background-color: rgba(14, 49, 243, 0.2);
}
#content .table-container .table-item_1 {
  background-color: rgba(253, 3, 3, 0.5);
}
#content .table-container .table-item_2 {
  background-color: rgba(57, 253, 3, 0.5);
}
#content .table-container .table-item_3 {
  background-color: rgba(136, 3, 253, 0.5);
}
#content .table-container .table-item_4 {
  background-color: rgba(253, 241, 3, 0.5);
}
#content .table-container .table-item_5 {
  background-color: rgba(3, 253, 245, 0.5);
}
#content .card-container-victory {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: wheat;
  z-index: 1000;
}
#content .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 40px;
  row-gap: 30px;
  max-width: 1200px;
  margin: 50px auto;
  position: relative;
}
#content .card-container .click-result {
  display: flex;
  position: absolute !important;
  top: -50px;
  right: 0;
}
#content .card-container .click-result span {
  margin-right: 30px;
}
#content .card-container .click-result span svg {
  transform: scale(2);
}
@media (max-width: 750px) {
  #content .card-container .click-result span {
    margin-right: 20px;
  }
  #content .card-container .click-result span svg {
    transform: scale(1.5);
  }
}
@media (max-width: 500px) {
  #content .card-container .click-result span {
    margin-right: 5px;
  }
  #content .card-container .click-result span svg {
    transform: scale(1.2);
  }
}
#content .card-container .card-change {
  position: relative;
  text-decoration: none;
}
#content .card-container .card-change .card-hover:hover {
  position: relative;
  box-shadow: 0 0 15px rgba(253, 249, 19, 0.5);
  transition: all 0.5s;
}
#content .card-container .card-change .card-template {
  width: 250px;
  background: white;
  border-radius: 50px;
  padding-bottom: 15px;
  cursor: pointer;
  transition-duration: 0.5s;
}
#content .card-container .card-change .card-template .check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  background-color: wheat;
  border-radius: 50%;
}
#content .card-container .card-change .card-template .check svg {
  transform: scale(4);
  color: green;
}
#content .card-container .card-change .card-template div h5 {
  text-align: center;
  font-size: 35px;
}
#content .card-container .card-change .card-template div h5:hover {
  text-decoration: underline;
  color: black;
}
#content .card-container .card-change .card-template div .icons {
  display: flex;
  justify-content: space-around;
}
#content .card-container .card-change .card-template div .icons div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: yellow;
  cursor: pointer;
}
#content .card-container .card-change .card-template div .icons div svg {
  transform: scale(1.5);
  transition-duration: 0.5s;
}
#content .card-container .card-change .card-template div .icons div:hover svg {
  transform: scale(2);
  transition-duration: 0.5s;
}
#content .card-container .card-change .card-template img {
  width: 250px;
  height: 170px;
  display: block;
  box-sizing: border-box;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
#content .card-container .card-change .back {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: 1s;
  height: 301px;
  box-shadow: 0 0 15px rgba(253, 249, 19, 0.5);
}
#content .card-container .card-change .back div {
  padding-top: 30px;
}
#content .card-container .card-change .back img {
  width: 250px;
  height: 170px;
}
#content .card-container .card-change .front {
  backface-visibility: hidden;
  transition: 1s;
}

.start-game, .repeat {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-size: 30px;
  font-weight: 600;
  width: 250px;
  height: 80px;
  margin-top: 20px;
}
.start-game svg, .repeat svg {
  transform: scale(2);
}
@media (max-width: 768px) {
  .start-game, .repeat {
    position: fixed;
    right: 10px;
    top: 100px;
    height: 60px;
    width: 60px;
  }
  .start-game svg, .repeat svg {
    transform: scale(1.5);
  }
}

.active {
  color: darkred;
  text-decoration: underline;
  font-weight: 700;
  font-size: 36px;
  /*pointer-events: none;*/
}

.slider-container {
  display: flex;
  align-items: center;
}
.slider-container .slider-wrapper {
  display: flex;
  width: 360px;
  height: 100px;
  overflow: hidden;
}
@media (max-width: 500px) {
  .slider-container .slider-wrapper {
    height: 70px;
  }
}
@media (max-width: 600px) {
  .slider-container .slider-wrapper {
    width: 250px;
  }
}
@media (max-width: 400px) {
  .slider-container .slider-wrapper {
    width: 220px;
  }
}
.slider-container .slider-wrapper .slider-wrapper_content {
  display: flex;
  align-items: center;
}
.slider-container .slider-wrapper .slider-wrapper_content .slider-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 100px;
  background-color: white;
  box-sizing: border-box;
  margin-right: 20px;
}
@media (max-width: 500px) {
  .slider-container .slider-wrapper .slider-wrapper_content .slider-item {
    height: 70px;
  }
}
.slider-container .slider-wrapper .slider-wrapper_content .slider-item p {
  margin: 0;
  user-select: none;
  font-size: 25px;
  font-weight: 600;
}
.slider-container span {
  cursor: pointer;
  margin: 30px;
}
@media (max-width: 450px) {
  .slider-container span {
    margin: 15px;
  }
}
.slider-container span svg {
  transform: scale(2.5);
  border-radius: 2px;
}
.slider-container span svg:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.active-slider-item {
  border: 4px solid black;
}

.reset-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.reset-wrapper .reset-buttons {
  width: 200px;
  height: 400px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  justify-content: center;
}
.reset-wrapper .reset-buttons .yes, .reset-wrapper .reset-buttons .no {
  font-size: 40px;
  font-weight: 550;
}
.reset-wrapper .reset-buttons .are-you-sure {
  background-color: white;
  text-align: center;
  padding: 20px 10px;
}

.active-up {
  color: blue;
}

.active-down {
  color: red;
}

/*# sourceMappingURL=style.css.map */
