body{

}
a{
    text-decoration: none;
}
header{
    padding-top: 53px;
}
.header{
    width: 100%;
    max-width: 1212px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    box-sizing: border-box;
}
.wrap{
    width: 100%;
    max-width: 1212px;
    margin: 0 auto;
}
.nav{
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
}
.logo{
    display: flex;
    align-items: center;
}
.nav{
    align-items: center;
}
.nav li{
    margin-left: 39px;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #202020;
}
.logo_img{
    display: block;
    background-image: url("../img/header/Group 2.svg");
    width: 58px;
    height: 58px;
    margin-right: 20px;
}
.logo_text{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #202020;
    padding-left: 5px;
}
li a button{
    background: #5528FF;
    border-radius: 5px;
    padding: 3.5px 14px;
    border: none;
    color: #FFFFFF;
}
.page{
    padding-top: 75px;
    padding-bottom: 105px;
    position: relative;
}
.page-top{
    border-top: 1px solid #C2C2C2;
}
.page h2{
    position: absolute;
    color: #C2C2C2;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    top: -31px;
    padding: 10px;
    background-color: white;
    text-transform: uppercase;
}
.btn_contact{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    background: #5528FF;
    border-radius: 10px;
    border: none;
    padding: 15px 55px;
}
h1{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 65px;
    color: #202020;
}
.text-main{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 51px;
    color: #4F4F4F;
    max-width: 750px;
    margin-bottom: 70px;
}
.services{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 130px;
    row-gap: 30px;
}
.services_item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.services_item h3{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 32px;
    color: #000000;
}
.services_item p{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #B2B2B2;
    max-width: 300px;
}
.services_img{
    flex-basis: 100px;
    text-align: center;
}
.services_text{
    flex-basis: calc(100% - 100px);
    margin-left: 40px;
}
.clients{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 120px;
    row-gap: 40px;
}
.client_item{
    text-align: center;
}
.team{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 60px;
    margin-left: 40px;
}

.team_item{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.team_item img{
    flex-basis: 100px;
    height: 100px;
    border-radius: 50%;
}
.teammate{
    flex-basis: calc(100% - 100px);
    margin-left: 35px;
}
.teammate h3{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: #202020;
    margin: 0;
}
.teammate p{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #B2B2B2;
}
footer{
    background: #F7F7F7;
}
.footer{
    padding: 20px 0;
    width: 100%;
    max-width: 1212px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer div{
    display: flex;
    align-items: center;
}
.footer a span{
    margin-left: 20px;
}
.footer a img{
    margin-right: 35px;
}