/*ОБнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    max-width: 1920px;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0 auto;
    position: relative;
    overflow-x: hidden;
}

input, button, textarea {
    font-family: 'Roboto', sans-serif;
}

input::-ms-clear {
    display: none
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0
}

a, a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none
}

ul li {
    list-style-type: none
}

img {
    vert-align: top
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

/*ОБнуление*/

/*header*/
.header {
    position: absolute;
    margin: 60px auto;
    width: 100%;
}

.header-row {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    width: 443px;
    justify-content: space-between;
}

.name {
    font-family: Georgia;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.description {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-align: center;
    margin-top: 10px;
}

.header-nav li a {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
}

.header-nav li a:hover {
    color: #FAFAFA;
    cursor: pointer;
    user-select: none;
}

.active-li {
    border-bottom: 3px solid #F1CDB3;
    color: #FAFAFA !important;
}

/*header*/

/*block one*/
.not-only {
    background-image: url("../../assets/images/block-one/start-screen-background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.not-only-row {
    display: flex;
    justify-content: space-between;
    padding-top: 180px;
}

.not-only-title {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 130%;
    color: #FFFFFF;
    margin-top: 163px;
}

.block-subtitle {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    margin-top: 42px;
}

.btn {
    padding: 15px 45px;
    background: #F1CDB3;
    border-radius: 100px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    margin-top: 41px;
}

.btn:hover {
    background: #FDDCC4;
}

.not-only-img {
    margin-left: 42px;
    display: flex;
}

/*block one*/

/*block two*/
.about-row {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 100px;
    align-items: center;
}

.about-title {
    width: 370px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}

.about-subtitle {
    margin-top: 25px;
    width: 430px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;
    /* or 24px */
    color: #4C4C4C;
}

.about-img {
    padding-left: 175px;
}

.about-content {
    padding-right: 175px;
}

/*block two*/

/*block three*/
.pets {
    background-color: #F6F6F6;
    padding-bottom: 100px;
}

.pets-title {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0 auto 30px auto;
    padding-top: 80px;
}

.slider {
    position: relative;
}

.slider-items {
    display: flex;
    justify-content: space-around;
    width: 1080px;
    margin: 0 auto;
}

.slider-item {
    width: 270px;
    background: #FAFAFA;
    border-radius: 9px;
    text-align: center;
}

.slider-item:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    cursor: pointer;
}

.slider-item-name {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top: 25px;
}

.slider-item-btn {
    padding: 13px 44px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    background: white;
    margin-top: 32px;
    margin-bottom: 30px;
}

.slider-item-btn:hover {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
}

.slider-item img {
    margin-top: 30px;
}

.right,
.left {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 50%;
    width: 52px;
    height: 52px;
}

.left:hover,
.right:hover {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
    cursor: pointer;
}

.left {
    top: 47.5%;
}

.right {
    right: 0;
    top: 47.5%;
}

.inactive {
    border: 2px solid #CDCDCD;
    box-sizing: border-box;
    border-radius: 100px;
    fill: #CDCDCD;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    cursor: auto !important;
}

.inactive svg path {
    fill: #CDCDCD !important;
}

.inactive svg path:hover {
    fill: #CDCDCD !important;
}

.inactive:hover {
    background: none;
    border: 2px solid #CDCDCD;
}

.pets-button {
    padding: 15px 45px;
    background: #F1CDB3;
    border-radius: 100px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    display: flex;
    margin: 60px auto 0 auto;
}

.pets-button:hover {
    background: #FDDCC4;
}

/*block three*/

/*block four*/
.help-title {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top: 80px;
    margin-bottom: 60px;
}

.help-list-one {
    display: flex;
    justify-content: space-around;
    margin: 0 27px;
}

.help-list-two {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 55px 110px 100px 110px;

}

.help-list-one,
.help-list-two {
    text-align: center;
}

.help-list-two div img:nth-child(2),
.help-list-one div img:nth-child(2){
    display: none;
}

.help-list-two p,
.help-list-one p {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top: 28px;
}

/*block four*/

/*block five*/
.donation {
    background: #F6F6F6;
}

.donation-row {
    display: flex;
    align-items: center;
    padding: 82px 0 100px 0;
    margin-left: 142px;
    margin-right: 140px;
}

.donation-content {
    margin-left: 30px;
}

.donation-title {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    width: 300px;
    margin-bottom: 22px;
}

.donation-subtitle {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
}

.donation-card {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background: #F1CDB3;
    border-radius: 9px;
    width: 350px;
    margin-top: 20px;
}

.donation-card a {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
    margin-left: 15px;
}

.donation-content p:first-child {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
}

.donation-content p:last-child {
    font-family: Arial;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
    margin-top: 22px;
}

/*block five*/

/*footer*/
.footer {
    background-image: url("../../assets/images/footer/footer-background.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -1px;
}

.footer-row {
    display: flex;
    padding-top: 36px;
    margin-top: 1px;
}

.footer-titles {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.footer-content {
    padding-top: 22px;
}

.footer-content-item {
    display: flex;
    align-items: center;
}

.content-second{
    width: 300px;
    margin-left: 150px;
}


.footer-content-item p {
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin-left: 20px;
}

.footer-img{
    margin-left: 160px
}

.footer-row img {
    display: flex;
}

.footer-content a:hover {
    text-decoration: underline #F1CDB3;
}

/*footer*/

/*adaptive*/
@media (max-width: 1279px) {
    .wrapper {
        max-width: 708px;
    }

    /*header*/
    .header {
        margin: 30px auto;
    }
    /*header*/

    /*block one*/
    .not-only-row {
        display: flex;
        flex-direction: column;
        max-width: 460px;
        margin: 0 auto;
        padding-top: 60px;
    }

    .not-only-title {
        margin-top: 90px;
    }

    .btn {
        display: flex;
        margin: 43px auto 100px auto;
    }

    .not-only-img {
        display: flex;
        align-items: center;
        margin-left: 15px;
    }

    .not-only-img img{
        width: 569px;
        height: 593px;
    }
    /*block one*/

    /*block two*/
    .about-row {
        display: flex;
        flex-direction: column;
        max-width: 436px;
        margin: 80px auto 0 auto;
    }

    .about-title {
        width: 400px;
    }
    .about-subtitle{
        width: 436px;
    }

    .about-img {
        order: 1;
        padding-left: 0px;
        margin-top: 80px;
        margin-bottom: 98px;
    }

    .about-content {
        order: 0;
        padding-right: 0px;
        width: 436px;
    }

    /*block two*/

    /*block three*/
    .slider {
        position: relative;
        top: 1px;
    }

    .slider-items {
        display: flex;
        width: 620px;
        margin: 0 auto;
    }

    .slider-item {
        width: 270px;
        background: #FAFAFA;
        border-radius: 9px;
        text-align: center;
    }

    .invisible-item{
        display: none;
    }

    .pets-button {
        margin: 62px auto 0 auto;
    }
    /*block three*/

    /*block four*/

    .help-list-one,
    .help-list-two {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 58px;
        row-gap: 57px;
        margin: 0 36px;
    }

    .help-list-two{
        margin-top: -110px;
        margin-bottom: 98px;
    }

    .first-grid{
        grid-column-start: 3;
        grid-column-end: 4;
    }
    /*block four*/

    /*block five*/
    .donation-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 82px 0 100px 0;
        margin-left: 142px;
        margin-right: 140px;
    }

    .donation-img{
        order: 1;
    }

    .donation-content {
        margin-left: 0px;
        order: 0;
        width: 380px;
    }

    .donation-content p:last-child {
        margin-bottom: 60px;
        margin-top: 20px;
    }

    /*block five*/

    /*footer*/
    .footer{
        margin-top: -3px;
    }
    .footer-row {
        display: flex;
        flex-flow: row wrap;
        padding-top: 30px;
        margin-top: 1px;
    }

    .footer-content {
        padding-top: 0px;
        margin-left: 33px;
    }

    .footer-content-item {
        display: flex;
        align-items: center;
    }

    .content-second{
        width: 300px;
        margin-left: 50px;
    }

    .footer-row img {
        display: flex;
    }

    .footer-img{
        margin: 62px auto 0 auto;
    }

    /*footer*/

}


@media (max-width: 767px) {
    .wrapper {
        max-width: 300px;
    }

    .header-nav{
        display: none;
    }

    /*block one*/
    .not-only-row {
        display: flex;
        flex-direction: column;
        max-width: 460px;
        margin: 0 auto;
        padding-top: 60px;
    }

    .not-only-img{
        margin-left: 30px;
    }
    .not-only-img img{
        width: 260px;
        height: 271.77px;
        margin-left: 10px;
        margin-top: 5px;
    }

    .not-only-title{
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.06em;
        width: 200px !important;
        margin-right: auto;
        margin-left: auto;
    }

    .block-subtitle{
        text-align: center;
    }
    /*block one*/

    /*block two*/
    .about-row {
        display: flex;
        flex-direction: column;
        max-width: 436px;
        margin: 0 auto;
    }

    .about-title {
        width: 250px;
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.06em;
        color: #545454;
        margin: 40px auto 0px auto;
    }

    .about-subtitle {
        width: 270px;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 160%;
        color: #4C4C4C;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25.5px;
        text-align: justify;
    }

    .about-img{
        margin-top: 40px;
        margin-bottom: 0;
    }

    .about-img img{
        width: 260px;
        height: auto;
    }

    .about-content {
        order: 0;
        padding-right: 0;
    }

    /*block two*/

    /*block three*/
    .pets {
        background-color: #F6F6F6;
        padding-bottom: 43px;
    }

    .pets-title {
        width: 300px;
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.06em;
        color: #545454;
        margin: 40px auto 0px auto;
        padding-top: 40px;
    }

    .slider {
        margin-top: 13px;
    }

    .slider-items {
        display: block;
        width: 100%;
        margin: 0 auto;
    }

    .slider-item {
        width: 270px;
        background: #FAFAFA;
        border-radius: 9px;
        text-align: center;
        margin: 0 auto;
    }

    .left {
        top: 104.5%;
        left: 19.5%;
    }

    .right {
        right: 19.5%;
        top: 104.5%;
    }

    .pets-button{
        margin: 115px auto 0 auto;
    }
    /*block three*/

    /*block four*/
    .help{
        padding-bottom: 42px;
    }
    .help-title{
        width: 300px;
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.06em;
        color: #545454;
        margin: 40px auto 42px auto;
        padding-top: 2px;
    }

    .help-list-one,
    .help-list-two {
        display: grid;
        grid-template-columns: repeat(2, 130px);
        grid-column-gap: 30px;
        row-gap: 32px;
        margin: 0 27px;
    }

    .help-list-two{
        margin-top: -85px;
    }

    .first-grid{
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .help-list-one,
    .help-list-two {
        text-align: center;
    }

    .help-list-two div img:first-child,
    .help-list-one div img:first-child{
        display: none;
    }

    .help-list-two div img:nth-child(2),
    .help-list-one div img:nth-child(2){
        display: block;
        margin: 0 auto;
    }

    .help-list-two p,
    .help-list-one p {
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 110%;
        text-align: center;
        letter-spacing: 0.06em;
        color: #545454;
        margin-top: 20px;
    }

    /*block four*/

    /*block five*/
    .donation-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0 42px 0;
        margin-left: auto;
        margin-right: auto;
    }

    .donation-img{
        order: 1;
        margin-top: 41px;
    }

    .donation-img img{
        width: 260px;
        height: 135.2px;
    }

    .donation-content {
        margin-left: 0px;
        order: 0;
    }

    .donation-title {
        width: 220px;
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.06em;
        color: #545454;
        margin: 40px auto 20px auto;
        padding-top: 2px;
    }

    .donation-subtitle {
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 160%;
        color: #545454;
        text-align: center;
        letter-spacing: 0;
    }

    .donation-card {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        background: #F1CDB3;
        border-radius: 9px;
        width: 281px;
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
    }

    .donation-card a {
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #545454;
        margin-left: 15px;
    }

    .donation-content p:first-child {
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 110%;
        letter-spacing: 0.06em;
        color: #545454;
    }

    .donation-content p:last-child {
        font-family: Arial;
        font-style: italic;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #B2B2B2;
        margin: 22px auto 0 auto;
        text-align: justify;
        width: 280px;
    }

    /*block five*/

    /*footer*/
    .footer{
        margin-top: -3px;
    }
    .footer-row {
        display: flex;
        flex-flow: row wrap;
        padding-top: 30px;
        margin-top: 1px;
    }

    .footer-content {
        padding-top: 0;
        margin-left: 0;
        width: 300px !important;
    }

    .footer-titles{
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
    }

    .content-second .footer-titles {
        width: 250px;
        margin: 0 auto;
    }

    .footer-content-item {
        display: flex;
        /*margin-left: 24px;*/
        justify-content: center;
        margin-top: 44px !important;
    }

    .content-second{
        margin-left: 0;
        margin-top: 40px;
    }


    .content-second .footer-content-item{
        margin-top: 10px;
    }

    .content-second div{
        margin-left: 0;
        margin-top: 40px !important;
        justify-content: left;
    }

    .footer-row img {
        display: flex;
        width: 260px;
        height: 269px;
    }

    .footer-img{
        margin: 40px auto 0 auto;
    }
    /*footer*/

    /*menu burger*/
    .burger-menu{
        position: relative;
        width: 40px;
        height: 40px;
        margin-right: 38px;
        margin-top: 2px;
    }
    .burger-item{
        position: absolute;
        width: 30px;
        height: 2px;
        background: #F1CDB3;
        z-index: 20;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }

    .burger-item::after,
    .burger-item::before{
        position: absolute;
        content: '';
        width: 30px;
        height: 2px;
        background: #F1CDB3;
    }

    .burger-item::before{
        top: -10px;
    }
    .burger-item::after{
        top: 10px;
    }
    /*menu burger*/

}
/*adaptive*/