/*ОБнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    max-width: 1920px;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    margin: 0 auto;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0
}

a, a:visited {
    text-decoration: none
}

a:hover {
    text-decoration: none
}

ul li {
    list-style-type: none
}

img {
    vert-align: top
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400
}

/*ОБнуление*/

/*Основные стили*/
.container {
    max-width: 1100px;
    margin: 0 auto;
}

@media (max-width: 1120px) {
    .container {
        margin: 0 15px;
    }
}

.hide {
    display: none;
}

.show {
    display: block;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*Основные стили*/

/*Header*/
header {
    background-color: #000000;
    width: 100%;
    height: 72px;
}

.header__column {
    display: grid;
    height: 100%;
    grid-template-columns: 2fr 8fr;
    align-content: center;
    grid-template-areas: 'logo nav';
}

.header__logo {
    grid-area: logo;
}

.header__menu {
    grid-area: nav;
    align-content: center;
    margin: auto 0 auto auto;
    display: flex;
}

.header__menu_item {
    opacity: 0.69;
    color: #ffffff;
    font-family: "Open Sans - Semibold";
    font-size: 14px;
    font-weight: 400;
}

.header__menu_item:hover {
    opacity: 1;
}

.start__item {
    margin-right: 23px;
}

.between__item {
    margin: 0 23px;
}

.end__item {
    margin-left: 23px;
}

@media (max-width: 1150px) {
    .header__menu {
        margin: auto 15px auto auto;
    }

    .header__logo {
        margin-left: 15px;
    }
}

/*Header*/

/*Block one*/
.block__one {
    background-image: url("images/block-one/backa-min.jpg");
    height: 640px;
    background-repeat: no-repeat;
    background-size: cover;
}

.description__row {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 7fr 5fr;
}

.description__header {
    position: relative;
}

.description__header p {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 33px;
}

.description__header_line {
    position: absolute;
    height: 1px;
    width: 50px;
    background-color: #ffffff;
    margin-top: 30px;
}

.description__content p {
    opacity: 0.8;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
    margin-top: 60px;
}

.description__download{
    margin-top: 40px;
}
.description__download .btn{
    height: 54px;
    background-color: #ff9b51;
    color: #ffffff;
    font-family: "Open Sans - Semibold";
    font-size: 15px;
    font-weight: 400;
    padding: 0 20px;
}

.description__download a{
    padding: 15px 32px 14px 32px;
    color: #ffffff;
    font-family: "Open Sans - Semibold";
    font-size: 15px;
    font-weight: 400;
    border: 2px solid #f0f0f0;
    background-color: rgba(0, 0, 0, 0);
    transition-duration: 0.5s;
    cursor: pointer;
}

.description__download a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition-duration: 0.5s;
}

.one__form {
    width: 360px;
    margin: 0 auto;
}

.form__header {
    height: 54px;
    background-color: #f5f5f5;
}

.form__header p {
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    padding-top: 17px;
}

.form__header p span {
    color: #ff8b38;
}

.form__input {
    padding: 0 40px 55px 40px;
    background-color: #ffffff;
}

.item__form {
    width: 100%;
    height: 31px;
    border-bottom: 1px solid rgba(0, 0, 1, 0.16);
    margin-top: 36px;
}

.form__button {
    width: 100%;
    height: 54px;
    background-color: #ff9b51;
    color: #ffffff;
    font-family: "Open Sans - Semibold";
    font-size: 15px;
    font-weight: 400;
}

@media (max-width: 1120px) {
    .description__header p {
        font-size: 28px;
    }

    .one__form {
        margin-left: auto !important;
        margin-right: 0 !important;
    }
}

@media (max-width: 799px) {
    .description__row {
        padding-top: 40px;
        display: grid;
        grid-template-columns: 100%;
        row-gap: 20px;
        padding-bottom: 25px;
    }

    .block__one {
        height: 100%;
    }

    .one__form {
        margin: 0 auto !important;
    }
}

@media (max-width: 499px) {
    .one__form {
        width: 100%;
    }

}

/*Block one*/

/*Block two*/
.block__two {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.38);
    height: 105px;
    padding: 22px 0px;
}

.media__row {
    display: grid;
    grid-template-columns: 6fr 10fr;
    align-content: center;
}

.media__description_header p {
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}

.media__description_sentence p {
    color: #86878b;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.social__media {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social__media_img {
    max-width: 55px;
    height: 55px;
    fill: #cccccc;
}

.social__media_img:hover {
    cursor: pointer;
    fill: red !important;
}

@media (max-width: 799px) {
    .media__row {
        grid-template-columns: 100%;
        row-gap: 20px;
    }

    .block__two {
        height: 100%;
        text-align: center;
    }

}

@media (max-width: 499px) {
    .social__media_img {
        max-width: 30px;
        height: 30px;
    }
}

/*Block two*/

/*Block three*/
.block__three {
    background-color: #f5f5f5;
    height: 595px;
    margin-top: 1px;
}

.tab__row {
    display: grid;
    grid-template-columns: 7fr 3fr;
    padding-top: 150px;
}

.tab__block {
    display: grid;
    grid-template-columns: 112px 10fr;
}

.tab__content_header p {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 50px;
}

.tab__content_text {
    color: #86878b;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.tab__button button {
    color: #ffffff;
    font-family: "Open Sans - Semibold";
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    padding: 15px 25px;
    background-color: #ff8b38;
    margin-top: 50px;
}

.tab__menu-item {
    cursor: pointer !important;
    height: 112px;
    width: 112px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    padding: 40px 0px;
    background-color: #333333;
    text-align: center;
    margin-top: 1px;
    text-align: center;
    align-content: center;
    display: grid;
}

.tab__item-active {
    background-color: #ff8b38;
}

.tab__block_content {
    margin-left: 70px;
    margin-right: 30px;
}

@media (max-width: 1120px) {
    .block__three {
        height: 500px;
    }

    .tab__row {
        padding-top: 75px;
    }
}

@media (max-width: 1000px) {
    .tab__content_header p {
        margin-bottom: 25px;
    }

    .tab__button button {
        margin-top: 20px;
    }
}

@media (max-width: 799px) {
    .block__three {
        height: 100%;
    }

    .tab__row {
        display: grid;
        grid-template-columns: 320px;
        padding-top: 50px;
        padding-bottom: 30px;
        grid-template-areas: 'img-tab' 'block-tab';
        justify-content: center;
    }

    .tab__block {
        grid-area: block-tab;
        display: grid;
        grid-template-columns: 320px;
        grid-template-areas: 'menu-btn' 'content-modal';
    }

    .tab__img {
        grid-area: img-tab;
    }

    .block__three {
        height: 100%;
    }

    .tab__menu {
        grid-area: menu-btn;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 15px;
    }

    .tab__block_content {
        grid-area: content-modal;
        width: 100%;
        margin: 20px 0 0 0;
    }

    .tab__menu-item {
        height: 80px;
        width: 80px;
        margin: 0 auto;
    }
}

@media (max-width: 499px) {
    .tab__img img {
        max-width: 270px !important;
        height: auto;
        margin: 0 auto;
    }

    .tab__img {
        text-align: center;
    }

    .tab__menu-item {
        height: 40px;
        width: 60px;
        padding: 0;
    }

    .tab__block {
        grid-template-columns: 290px;
        justify-content: center;
        margin-top: 10px;
    }
}

/*Block three*/


/*Block four*/
.picture__row {
    display: grid;
    grid-template-columns: 5fr 5fr;
    margin-top: 100px;
}

.description__header-four p {
    color: #212121;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 43px;
}

.picture__block {
    display: flex;
    align-items: center;
}

.picture__block img {
    width: 453px;
    height: 303px;
}

.description__header_line-four {
    position: absolute;
    height: 2px;
    width: 50px;
    background-color: #ff8b38;
    margin-top: 25px;
}

.descripton__text p {
    color: #86878b;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 60px;
}

.list__one_img img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1px;
}

.list__one_img {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ff8e3d;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.list__one {
    display: grid;
    grid-template-columns: 1fr 10fr;
    margin-top: 46px;
}

.list__one_description {
    margin-left: 20px;
}

.list__one_description p:first-child {
    color: #212121;
    font-family: "Open Sans - Semibold";
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.list__one_description p:last-child {
    color: #86878b;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.picture__description {
    margin-left: 100px;
}

.five__description {
    margin-left: 0px;
}

@media (max-width: 1120px) {
    .picture__description {
        margin-left: 0;
    }

    .four__description {
        margin-left: 60px;
    }
}

@media (max-width: 1000px) {
    .picture__row {
        grid-template-columns: 4fr 5fr;
        margin-top: 50px;
    }

    .picture__block img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 799px) {
    .picture__row {
        grid-template-columns: 320px;
        margin-top: 50px;
        justify-content: center;
    }
}

@media (max-width: 499px) {
    .picture__block img {
        width: 300px;
        height: auto;
        padding: 5px;
        margin: 0 auto;
    }

    .picture__description {
        margin-left: 25px !important;
    }
}

/*Block four*/

/*Block five*/
.block-five {
    background-color: #f5f5f5;
    height: 524px;
}

.row__five-top {
    padding-top: 90px;
}

.picture__block-five {
    display: flex;
    justify-content: center;
}

@media (max-width: 1120px) {
    .picture__block-five {
        margin-left: auto;
    }
}

@media (max-width: 1000px) {
    .row__five-top {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .block-five {
        height: 100%;
    }

    .row__five-top {
        grid-template-columns: 5fr 4fr;
    }
}

@media (max-width: 799px) {
    .row__five-top {
        grid-template-columns: 300px;
        grid-row-gap: 20px;
        justify-content: center;
    }
}

@media (max-width: 499px) {
    .pictures__description {
        margin-left: 10px !important;
    }
}

/*Block five*/

/*Block six*/
.block-six {
    height: 592px;
}

.six__row {
    padding-top: 108px;
}

.img__block img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img__block {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ff8e3d;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 70px auto 30px auto;
}

.block__title p {
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.reasons__blocks p.description {
    color: #86878b;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.six__title p {
    color: #212121;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 43px;
    text-transform: uppercase;
    text-align: center;
}

.six__subtitle p {
    color: #86878b;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-top: 55px;
}

.description__header_line-five {
    position: absolute;
    height: 2px;
    width: 50px;
    background-color: #ff8b38;
    left: 50%;
    margin-top: 25px;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.six__three-reasons {
    display: flex;
    flex: 0 0 33.333%;
    justify-content: center;
}

.reasons__blocks {
    text-align: center;
    margin: 0 15px;
}

@media (max-width: 1120px) {
    .reasons__blocks p.description {
        font-size: 14px;
        margin-top: 10px;
    }
}

@media (max-width: 1000px) {
    .reasons__blocks p.description {
        font-size: 14px;
    }

    .six__row {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .block-six {
        height: 100%;
    }
}

@media (max-width: 799px) {
    .six__three-reasons {
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: repeat(3, 230px);
        justify-content: center;
        row-gap: 30px;
    }

    .img__block {
        margin: 20px auto 30px auto;
    }

    .six__row {
        padding-top: 50px;
        padding-bottom: 35px;
    }
}

/*Block six*/

/*Block seven  */
.block-seven {
    background-color: #f5f5f5;
    height: 983px;
}

.seven-row {
    padding-top: 108px;
}

.block__cards {
    margin-top: 80px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 343px);
    justify-content: center;
    column-gap: 40px;
    align-items: end;
}

.card__title {
    padding: 21px 0;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    background-color: #333333;
}

.card__price p {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 94px;
    font-weight: 700;
    line-height: 24px;
    padding-top: 70px;
}

.card__price p span {
    font-size: 35px;
}

.card__price p:last-child {
    opacity: 0.5;
    color: #ffffff;
    font-family: "Open Sans - Semibold";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 28px !important;
    padding-bottom: 20px;
}

.card__price {
    background-color: #333333;
    margin-top: 2px;
}

.card__mostpopular-one {
    height: 5px;
    background-color: #ff8b38;
}

.card__mostpopular-two p {
    background-color: #ff8b38;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    padding: 14px 0;
}

.card__description p {
    background-color: #ffffff;
    color: #86878b;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    padding: 10px 0;
}

@media (max-width: 1120px) {
    .block__cards {
        grid-template-columns: repeat(3, 300px);
    }
}

@media (max-width: 1000px) {
    .block__cards {
        margin-top: 40px;
        column-gap: 20px;
        display: grid;
        grid-template-columns: 300px 300px;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 'two two' 'one three';
    }

    .one__for-grid {
        grid-area: one;
    }

    .two__for-grid {
        grid-area: two;
    }

    .three__for-grid {
        grid-area: three;
    }

    .block-seven {
        height: 100%;
    }

    .seven-row {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media (max-width: 799px) {
    .block__cards {
        grid-template-columns: 200px 200px;
    }
}

@media (max-width: 499px) {
    .block__cards {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 280px;
        grid-template-areas: 'two' 'one' 'three';
    }
}

/*Block seven  */

/*Block eight*/
.block-eight {
    background-color: #ffffff;
    height: 591px;
}

.eight__row {
    padding-top: 108px;
}

.customers__opinion_cards {
    margin-top: 55px;
    display: grid;
    grid-template-columns: repeat(3, 273px);
    justify-content: center;
    column-gap: 120px;
}

.customer__message p {
    color: #86878b;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: #f5f5f5;
    padding: 24px 13px;
}

.customer__own {
    margin-top: 22px;
    display: flex;
    align-items: center;
}

.customer__photo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #9a9a9a;
}

.customer__name {
    margin-left: 20px;
}

.customer__name p:first-child {
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 6px;
}

.customer__name p:last-child {
    color: #86878b;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 6px;
}

.fotorama {
    display: none;
}

@media (max-width: 1120px) {
    .customers__opinion_cards {
        column-gap: 60px;
    }

}

@media (max-width: 1000px) {
    .customers__opinion_cards {
        margin-top: 35px;
        display: grid;
        grid-template-columns: repeat(3, 250px);
        justify-content: center;
        column-gap: 15px;
    }

    .eight__row {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .block-eight {
        height: 100%
    }
}

@media (max-width: 799px) {
    .customers__opinion_cards {
        display: none;
    }

    .fotorama {
        display: block;
        height: 100%;
        margin: 0 auto;
    }

    .customer__card {
        width: 250px;
        margin: 0px auto 0 auto;
    }

    .fotorama__wrap {
        margin: 0 auto;
    }
}

@media (max-width: 499px) {
    .fotorama__stage {
        height: 250px !important;
    }

    .fotorama__wrap {
        margin: 15px auto;
    }

    .eight__row {
        padding-bottom: 20px;
    }
}

/*Block eight*/

/*Block nine*/
.block-nine {
    background-color: #9a9a9a;
}

.nine__row {
    padding-top: 74px;
}

.nine__row .description__header_line-five {
    background-color: #ffffff;
}

.nine__row .six__title p {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
}

.nine__row .six__subtitle p {
    opacity: 0.8;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.nine__row .description__download {
    text-align: center;
}

.nine__picture p {
    opacity: 0.22;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 24px 0 22px 0;
    text-align: center;
}

/*Block nine*/

/*Block ten*/
.last__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 67px;
}

.ten__row {
    padding-top: 108px;
}

textarea {
    width: 100%;
    height: 165px;
    border-bottom: 1px solid rgba(0, 0, 1, 0.16);
    margin-top: 36px;
    resize: none;
}

.ten__row form {
    margin-top: 60px;
    margin-bottom: 80px;
}

.ten__row form .form__button {
    width: 148px;
    height: 54px;
    background-color: #ff9b51;
    color: #ffffff;
    font-family: "Open Sans - Semibold";
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

@media (max-width: 499px) {
    .last__form {
        grid-template-columns: 1fr;
    }
}

/*Block ten*/

/*Footer*/
footer {
    background-color: #000000;
}

.footer__row {
    text-align: center;
    padding: 15px 0;
}

.social__media_img-footer {
    max-width: 23px;
    height: 23px;
    fill: #cccccc;
    margin: 10px 14px;
}

.social__media_img-footer:hover {
    cursor: pointer;
    fill: red !important;
}

.footer__row p {
    opacity: 0.5;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

/*Footer*/

/*Modal window*/
.modal-window {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1000;
    display: none;
}

.modal-form {
    position: relative;
    width: 500px;
    margin: 100px auto;
    background-color: white;
}

.modal__head {
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
}

.modal__head p {
    font-family: Arial;
    font-size: 20px;
    font-weight: 600;
}

.modal__close {
    cursor: pointer;
    font-size: 25px;
}

@media (max-width: 499px) {
    .modal-form {
        width: 100%;
    }

}

/*Modal window*/

/*Burger menu*/
.section {
    display: none;
}

.menu-btn {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    margin-left: auto;
}

.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 2px;
    background-color: #222;
}

.menu-btn span::before,
.menu-btn span::after {
    content: '';
    display: block;
    transition: 0.2s;
}

.menu-btn span::before {
    transform: translateY(-5px);
}

.menu-btn span::after {
    transform: translateY(5px);
}

.menu-btn_active span {
    height: 0;
}

.menu-btn_active span:before {
    transform: rotate(45deg);
}

.menu-btn_active span:after {
    transform: rotate(-45deg);
}

.show-menu {
    display: block;
    background-color: black;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.header__menu-burger-items {
    display: grid;
    padding-top: 30px;
    grid-template-rows: repeat(5, 50px);
    text-align: center;
}

.header__menu-burger-items .header__menu_item {
    font-size: 18px;
    margin: 0 auto;
}

@media (max-width: 600px) {
    .header__menu {
        display: none;
    }

    .section {
        display: block;
    }
}

/*Burger menu*/

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
/*Fonts*/