body,
html{
    width: 100vw;
    height: 100vh;
    background-color: lightseagreen;
    overflow: hidden;
    font-family: 'Gloria Hallelujah', cursive;
    margin-left: 0 !important;
    user-select: none !important;
}
.modal_window{
    width: 800px;
    height: 600px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8faf9;
    border-radius: 30px;
    box-shadow: 0px 3px 0px 3px grey;
    display: none;
    grid-template-rows: 1fr 6fr 2fr;
}
.modal_window_start{
    width: 800px;
    height: 600px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f8faf9;
    border-radius: 30px;
    box-shadow: 0px 3px 0px 3px grey;
    display: grid;
    grid-template-rows: 1fr 6fr 2fr;
}
h2{
    text-align: center;
    padding-top: 5px;
}

/*CONTENT*/
.window_content{
    margin: 0 40px;
}
.window_answers div{
    margin: 8px 0;
}
/*CHECKBOX*/
input{ display:none; }

label div{
    width:23px;
    height:23px;
    display:inline-block;
    border:2px solid #050404;
    text-align:center;
    line-height:20px;
    margin-right:6px;
    border-radius:3px;
    cursor:pointer;
}

.question{
    cursor: pointer;
    padding-left: 10px;
}

label i{ font-size:16px;	opacity:0; }
label:hover div{ background: #fafdfd; }
input:checked+label i{ opacity:1; }
input:checked+label div{ background: #f7faf9; }

/*FOOTER*/
.window_footer{
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    align-items: center;
}
.btn_back,
.btn_next{
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 13px;
}
.window_footer_start{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn_start{
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 13px;
    font-size: 25px;
}

.btn_start:active,
.btn_next:active,
.btn_back:active{
    position: relative;
    top: 2px;
}

.goodLuck{
    text-align: center;
    font-weight: 600;
    font-size: 25px;
}

.choose{
    font-size: 30px;
}

.please{
    font-size: 30px;
}

.fa-check:before {
    font-size: 25px;
}

@media (max-width: 1000px) {
    .modal_window {
        width: 800px;
        height: 600px;
    }
    .modal_window_start {
        width: 800px;
        height: 600px;
    }
}

@media (max-width: 850px) {
    .modal_window {
        width: 600px;
        height: 600px;
    }
    .modal_window_start {
        width: 600px;
        height: 600px;
    }
}

@media (max-width: 650px) {
    .modal_window {
        width: 500px;
        height: 600px;
    }
    .modal_window_start {
        width: 500px;
        height: 600px;
    }
}

@media (max-width: 550px) {
    .modal_window {
        width: 400px;
        height: 600px;
    }
    .modal_window_start {
        width: 400px;
        height: 600px;
    }
    h2 {
        font-size: 1.3em;
    }
    .goodLuck{
        margin-top: -10px;
        margin-bottom: 0;
    }
}

@media (max-width: 400px) {
    .modal_window {
        width: 350px;
        height: 600px;
    }
    .modal_window_start {
        width: 350px;
        height: 600px;
    }
    h2 {
        font-size: 1.2em;
        padding: 0 10px;
    }
    h3 {
        font-size: 1.17em;
        margin: 0;
    }
    .window_content {
        margin: 0 10px;
    }
    .goodLuck{
        margin-top: 0px;
    }
}

@media (max-width: 360px) {
    .modal_window {
        width: 310px;
        height: 500px;
    }
    .modal_window_start {
        width: 310px;
        height: 500px;
    }
    h2 {
        font-size: 1.2em;
        padding: 0 10px;
    }
    h3 {
        font-size: 0.9em;
        margin: 0;
    }
    .window_content {
        margin: 0 10px;
    }
    .choose{
        font-size: 20px;
    }

    .please{
        font-size: 20px;
    }
}
